<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="/about/" class="btn"><span class="icon"></span>About Me</a>
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          {% for p in page.categories %}
            <a href="{{ p.tags }}" class="btn" >{{ p }}</a>
          {% endfor %}
        </section>
      </div>
    </header>

    <!-- Series posts -->
    {% assign series = "" | split: "," %}
    {% assign series_post = "" | split: "," %}
    {% assign posts = site.posts | where:"Category", cat.title | where: "is_series",true | sort: 'date' %}

    {% for post in posts %}
      {% unless series contains post.series_title %}
        {% assign series = series | push: post.series_title %}
        {% assign series_post = series_post | push: post %}
      {% endunless %}
    {% endfor %}

    {% if series.size > 0 %}
      <div class="row align-items-center">
        {% for post in series_post %}
          Serial {{ post.series_title }}
          <nav class="main-nav">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </nav>
        {% endfor %}
      </div>
    {% endif %}

    <hr>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
